<link rel="stylesheet" href="/css/Authorization/AuthStyle.css" />
<form method="post">
    <div class="container">
        <h1>Регистрация</h1>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="Email" required>

        <label for="psw"><b>Пароль</b></label>
        <input type="password" placeholder="Enter Password" name="Password" required>

        <label for="psw-repeat"><b>Повторите пароль</b></label>
        <input type="password" placeholder="Repeat Password" name="ConfirmPassword" required>
        <hr>

        <button type="submit" class="registerbtn" asp-controller="Authorization" asp-action="Auth">Зарегистрироваться</button>
    </div>
</form>

<div class="container signin">
    <p>У вас есть аккаунт? <a href="/Authorization/Login">Войти</a></p>
</div>