<header>
    <ul>
        <li><a href="Authorization/Login">Вход</a></li>
        <li><a href="/Authorization/Auth">Регистрация</a></li>
    </ul>
    <ul>
        <li><a href="https://www.instagram.com/vegan.travel/"><img src="/css/image/inst.png" width="30" height="30" alt="инст"></a></li>
        <li><a href="https://vk.com/vegan_travel"><img src="/css/image/vk.png" width="30" height="30" alt="вк"></a></li>
        <li><a href="https://t.me/veganstravel"><img src="/css//image/tg.png" width="30" height="30" alt="тг"></a></li>
        <li><a href="https://www.youtube.com/channel/UCjFb9C3y9bVo2k6_aJPrq9g?view_as=subscriber"><img src="/css/image/youtube.png" width="30" height="30" alt="ютуб"></a></li>
        <li><a href="/bag/index"><img src="/css/image/karzinka.png" width="40" height="40" alt="покупки">@await Component.InvokeAsync("Bag")</a></li>
    </ul>
</header>
<nav>
    <img src="/css/image/лого.png" width="100" height="100" alt="logo">
    <ul>
        <li><a href="/home/index">ГЛАВНАЯ</a></li>
        <li><a href="#">ОТЧЕТЫ</a></li>
        <li><a href="#">РАСПИСАНИЕ</a></li>
        <li><a href="#">ИНСТРУКЦИИ</a></li>
        <li><a href="#">КОНТАКТЫ</a></li>
    </ul>
</nav>