<link rel="stylesheet" href="/css/Admin/MenuStyle.css" />
<div class="sidenav">
    <a href="/Admin/Orders">Заказы</a>
    <a href="/Admin/Users">Пользователи</a>
    <a href="/Admin/Roles">Роли</a>
    <a href="/Admin/Products">Продукты</a>
</div>

<div class="main">
    <h2>Роли</h2>
 </div>
